.chef-claude-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: black;
    font-family: arial;
    display: flex;
    align-items: center;
    column-gap: 6px;
    justify-content: center;
    height: 65px;
    border-bottom: 2px solid rgba(110, 109, 109, 0.295);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.10),0px 1px 2px 0px rgba(0,0,0,0.06);
    background-color: white;
}
.chef-claude-icon{
    height: 40px;
    margin-bottom: 5px;
}
.chef-claude-text{
    font-size: 22px;
    font-weight: 600;
}
.chef-claude-section{
    color: black;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    font-family: arial;
    max-width: 600px;
    margin: auto;
    margin-top: 30px;
}
.form-div{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.input-text{
    margin-top: 40px;
    display: flex;
    column-gap: 15px;
    margin-left: 0px;
    margin-right: 0px;
}
.chef-input{
    background-color: white;
    color: black;
    border: none;
    padding: 7px;
    flex: 1;
    max-width: 560px;
    min-width: 100px;
    border-radius: 5px;
    font-family: arial;
    font-size: 15px;
    box-shadow: 0px 0px 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.15s;
}
.chef-input:hover{
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.2);
}

.chef-add-button{
    padding: 10px;
    width:90px;
    margin-top: -1px;
    border-radius: 5px;
    border: none;
    background-color: rgb(19, 87, 234);
    cursor: pointer;
    color: white;
    font-family: arial;
    transition: box-shadow 0.15s;
    font-weight: bold;
    font-size: 15px;
}
.chef-add-button:hover{
    box-shadow: 0px 1px 5px 0px rgba(12, 9, 9, 0.9);
}
.un-list{
    margin-top: -10px;
    line-height: 25px;
}
.display-section{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.ingredients-head{
    font-size: 26px;
}
.ready-div{
    display: flex;
    align-items: center;
    line-height: 1;
    column-gap: 25px;
    background-color: rgba(180, 179, 179, 0.348);
    justify-content: center;
    min-width: 350px;
    max-width: 520px;
    border-radius: 15px;
    max-height: 150px;
    margin-right: 30px;
    padding: 10px 15px;
    margin-top: 10px;
}
.ready-div-text{
    display: flex;
    flex-direction: column;
    line-height: 0;
    flex: 1;
}
.ready-que{
    font-size: 20px;
}
.ready-para{
    font-size: 15px;
    flex: 1;
    line-height: 1;
}
.receipe-button{
    color: white;
    background-color: rgb(248, 85, 85);
    padding: 7px 15px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.10),0px 1px 2px 0px rgba(0,0,0,0.2);
    transition: box-shadow 0.15s background-color 0.15s;
    cursor: pointer;
}
.receipe-button:hover{
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.50),0px 1px 2px 0px rgba(0,0,0,0.2);
    background-color: rgb(239, 72, 72);
}
.receipe-section{
    font-family: arial;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    line-height: 28px;
    font-weight: 500;
}
.load{
    margin-top: 30px;
    text-align: center;
    margin-left: -30px;
}